
body{
    text-align:center;
    background-color: #c4fec1;
} 


img{
    width: auto;
    height: 20em;
    border: 2px solid #fff;
    border-radius: 20px;
}

.hh{
    width: auto;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 10px;
}
