.body {
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;

}


.main {
    height: auto;
    width: 100%;
    display: inline-block;
}

.topBar {
    height: 70px;
    width: 100%;
    backdrop-filter: blur(20px);
    position: fixed;
    z-index: 5;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.topBar .home {
    width: auto;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.topBar .title {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    padding-left: 20px;
    padding-right: 5px;
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.icon {
    background-image: url("LESTOY.svg");
    height: 45.5px;
    width: 43px;
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
    cursor: pointer;
}

.menu {
    height: 70px;
    width: auto;
    margin: auto 0 auto auto;
    position: relative;
    right: 40px;
}

.menu a {
    color: #000;
    text-align: center;
    line-height: 70px;
    width: auto;
    outline-offset: 0;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    font-family: Arial, sans-serif;
    margin: 15px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 7.5px;
    border-radius: 15px;
    cursor: pointer;
}

.menu a:hover {
    color: #fff;
    background-color: #000;
}

.sobre1 {
    height: calc(100% - 70px);
    width: 50%;
    margin-top: 70px;
    float: left;
}

.sobre1 p {
    color: #000;
    width: auto;
    outline-offset: 0;
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding-top: 100px;
    margin-left: 101px;
    display: block;
}

.sobre1 h1 {
    color: #000;
    width: auto;
    outline-offset: 0;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: -1px 0;
    margin-left: 101px;
}

.sobre1 h2 {
    color: #000;
    width: 300px;
    outline-offset: 0;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: 22.5px 0;
    margin-left: 101px;
}

.konwMore {
    display: inline-block;
    width: auto;
    height: 40px;
    margin-left: 95px;
    border-radius: 20px;
    margin-top: 12.5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-decoration: none;
    padding: 0px 12px 0px 15px;
    line-height: 40px;
    text-align: center;
    color: #000;
    border: 2px #000 solid;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    box-sizing: content-box;
    overflow: hidden;
}

.konwMore:hover {
    background-color: #000;
    color: #fff;
}

.moreImg {
    display: inline-block;
    background-image: url("backh.svg");
    height: 17px;
    width: 17px;
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
    vertical-align: middle;
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    margin-left: 5px;
}

.konwMore:hover .moreImg {
    background-image: url("backb.svg");
}

.sobre2 {
    height: calc(100% - 70px);
    width: 50%;
    margin-top: 70px;
    float: right;
    overflow: auto;
}

.sobre2 .card1 {
    height: 100px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 90px;
    margin-right: 100px;
    float: right;
    border-radius: 20px 20px 5px 20px;
}

.sobre2 .card2 {
    height: 75px;
    width: 275px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 50px;
    margin-right: 250px;
    float: right;
    border-radius: 20px 20px 5px 20px;
}

.sobre2 .card3 {
    height: 50px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.4);
    margin-top: 75px;
    margin-right: 100px;
    float: right;
    border-radius: 20px;
}

.skills1 h1 {
    color: #000;
    width: auto;
    outline-offset: 0;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: -1px 0;
    margin-left: 101px;
}

.contact1 h1 {
    color: #000;
    width: auto;
    outline-offset: 0;
    font-size: 36px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: -1px 0;
    margin-left: 101px;
}

.main2 {
    height: auto;
    width: 100%;
    display: inline-block;
    margin-top: 150px;
}

.skills2 {
    height: auto;
    margin-top: 70px;
}

.skills2 .card {
    height: 250px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    margin: 50px 100px 50px 100px;
    display: inline-flex;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    position: relative;
}



.skills2 .card img {
    height: 80px;
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    display: inline-block;

}

.skills2 .card p {
    color: #000;
    width: auto;
    outline-offset: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: auto auto 50px auto;
    display: inline-block;
}

.skills2 .card:hover img{
    transform: scale(1.05, 1.05); 
}
.skills2 .card:hover p{
    transform: scale(1.05, 1.05); 
}

.main3 {
    height: auto;
    width: 100%;
    display: inline-block;
    margin-top: 150px;
}

.banner{
    width: 700px;
    height: 380px;
    overflow: hidden;
    border-radius: 20px;
    margin: 50px auto;
    position: relative;

}
.banner .imgs{
    width: 2100px;
    height: 380px;
}
.banner .imgs img{
    width: 700px;
    height: 380px;
}
.banner .imgs a{
    float: left;
}
.banner .left{
  color: #fff;
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin: auto 0;
  font-size: 3em;
  cursor: pointer;
}

.banner .right{
   color: #fff;
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: auto auto;
    font-size: 3em;
    cursor: pointer;
}

.banner .left:hover,.banner .right:hover{
background-color: #FFF;
color: brown;
border-radius: 25px;
}
.banner .bottom{
    width: 100%;
    height: 56px;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
}
.banner .bottom h1{
    color: #fff;
    text-align: left;
    line-height: 56px;
    margin-left: 20px;
}
.banner .bottom .bottomp{
    position: absolute;
    width: auto;
    height: 100%;
    line-height: 56px;
    top: 0;
    right: 20px;
    bottom: 0;
}

.bottom .bottomp .ball{
    width: 14px;
    height: 14px;
    line-height: 14px;
    margin: 0 10px;
 display: inline-block;
 background-color: #333;
border-radius: 7px;
}
    .bottom .bottomp .ball:hover{
      background-color: #4385f5;
        }

        
.main4 {
    height: auto;
    width: 100%;
    display: inline-block;
    margin-top: 150px;
}

.contact2 {
    height: auto;
    margin-top: 70px;
    overflow: hidden;
}



.contact2 .edit2 {
    height: 300px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px 20px 20px 20px;
    margin: 50px auto;
    display: block;
    border: none;
    box-sizing: border-box;
    color: #333;
    font-size: 16px;
    outline-style: none;
    padding: 20px 20px 0px 20px;
    text-align: left;
    font-weight: bold;
    font-family: Arial, sans-serif;
    overflow: auto;
    resize: none;
}

.contact2 .edit2:focus {
    border: 2px solid #fafafa;
    padding: 18px 18px 0px 18px;
}

.contact2 .edit1 {
    height: 64px;
    width: 330px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px 20px 20px 20px;
    margin: 0px auto;
    display: block;
    border: none;
    box-sizing: border-box;
    color: #333;
    font-size: 16px;
    outline-style: none;
    padding: 0 20px 0px 20px;
    text-align: left;
    font-weight: bold;
    font-family: Arial, sans-serif;
    float: left;
}

.contact2 .edit1:focus {
    border: 2px solid #fafafa;
    padding: 0 18px 0px 18px;
}

.contact2 .send {
    height: 64px;
    width: 500px;
    margin: 50px auto;
    display: block;
}


.contact2 .card {
    height: 64px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px 20px 20px 20px;
    margin: 0px auto;
    display: block;
    border: 2px solid transparent;
    color: #333;
    font-size: 16px;
    outline-style: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
    line-height: 64px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    line-height: 64px;
    cursor: pointer;
    box-sizing: border-box;
}

.contact2 .card:hover {
    border: 2px solid #fafafa;
}