.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

/* responsive media */


/*****************  *****************/

@media (min-width: 320px) {
	.container {
		max-width: 320px;
	}

	.navbar-toggler{
	display: none;
	}
	/*** navbar ***/
	.navbar-nav>li>a {
		border: none;
		display: block;
		position: relative;
		transition: all 0.4s ease;
		text-transform: none;
		font-size: 16px;
		border-bottom: 1px solid #e5e5e5;
		font-weight: 400;
		border-radius: 0;
		line-height: 35px;
		padding: 5px 0;
	}

	.navbar-nav>li>a:hover {
		color: #4385f5;

	}

	.logo-and-icon { 
		border-bottom: 0px solid #e5e5e5; 
	}

	/*** slider-area ***/
	.btn-area .login-btn {
		display: none;
	}

	.main-slider-area {
		position: relative;
		top: 78px;
		height: auto;
	

	}

	.main-slider-area .slider-content span {
		display: block;
		
	}

	.main-slider-area .slider-content {
		position: absolute;
		left: 7.5%;
	}

	.main-slider-area .slider-content span{
		font-size: 12.5px;
		color: #4385f5;
		margin-top: 10px;
        display: none;
	}
	.main-slider-area .slider-content h1 {
		color: #343434;
		font-weight: 700;
		padding: 0 0 1vh 0;
		font-size: 17.5px;
		margin-top: 7.5vh;
		text-transform: none;
	}

	.main-slider-area .slider-content .btn {
		background: #f2f3f7;
		box-shadow:  0.5vh 0.5vh 1vh #c8c9cba0, -1vh -1vh 1vh #fff;
		border-radius: 5vh;
		margin-top: 5vh;
		padding: 2.25vh 2vh;
		color: #343434;
		text-align: center;
		font-size: 15px;
	}

	/***  service-area ***/
	.service-area {
		display: none;
	}

	/*** conunter-area ***/
	.conunter-area .counter-text {
		padding-bottom: 30px;
	}

	/*** about-area ***/
	.about-area {
		text-align: center;
	}

	.about-area .about-description {
		margin: 50px 0 0 0;
	}
	.features-area .row {
		display: inline-block;
	}
	.features-area .row .col-lg-4 {		
		width: 100%;
	}


	/*** pricing-area ***/
	.pricing-area {
		text-align: center;
	}

	.pricing-area .pricing-table {
		display: inline-block;
		margin-bottom: 30px;
	}

	.pricing-area .pricing-table ul li {
		text-align: center;
	}

	.pricing-area .pricing-table ul li ::after {
		display: none;
	}

	/*** app-area ***/
	.app-area {
		text-align: center;
	}

	.app-area .app-thumb {
		display: inline-block;
	}

	.app-area .app-description {
		margin: 60px 0;
		text-align: center;
	}

	.app-area .app-thumb {
		justify-content: center;
	}

	.app-area .app-thumb .play-store {
		margin: 0 0 20px 0;
	}

	/*** testimonial-area ***/
	.testimonial-area .testimonial-section {
		display: block;
		text-align: center;
	}

	.testimonial-area .testimonial-user img {
		width: 80%;
		display: inline;
	}

	.testimonial-area .testimonial-content img {
		width: 50px;
		display: inline;
	}

	.testimonial-area .testimonial-content {
		padding: 100px 0 0 0;
	}

	/*** contact-area ***/
	.contact-area .contact-description {
		padding: 10px 0;
	}

	.contact-area .contact-description h2 {
		margin-bottom: 10px;
		font-size: 12px;
		text-transform: none;
	}

	.contact-area .contact-description .btn {
		padding: 7px 28px;
		font-size: 11px;
	}

	/*** footer-area ***/
	.footer-area .footer-widgets {
		display: flex;
		flex-wrap: wrap;
	}

	.footer-area .footer-widgets .single-widgets {
		margin-bottom: 50px;
	}
	.footer-area .footer-bottom img{
		width: 50%;
	}

}

/*****************  *****************/

@media (min-width: 576px) {
	.container {
		max-width: 556px;
	}

	/*** navbar-area ***/
	.navbar-nav>li>a {
		border: none;
		display: block;
		position: relative;
		transition: all 0.4s ease;
		text-transform: none;
		font-size: 16px;
		border-bottom: 1px solid #e5e5e5;
		font-weight: 400;
		border-radius: 0;
		line-height: 35px;
		padding: 5px 0;
	}

	.navbar-nav>li>a:hover {
		color: #4385f5;
	}

	/***  slider-area ***/
	.main-slider-area .slider-content {
		position: absolute;
		left: 10%;

	}

	.main-slider-area .slider-content span {
		display: block;
	}
	.main-slider-area .slider-content span{
		font-size: 8.5px;
		color: #4385f5;
	}
	.main-slider-area .slider-content h1 {
		font-weight: 700;
		padding: 10px 0;
		font-size: 20px;
		margin-top: 30px;
		text-transform: none;
	}

	.main-slider-area .slider-content .btn {
		padding: 8px 19px;
		font-size: 13px;
		margin-top: 15px;
		
	}

	/*** service-area ***/
	.service-area {
		display: block;
	}

	.service-area .service-description {
		padding: 30px 0;
	}

	.service-area .service-description h2 {
		font-size: 25px;
		margin: 20px 0;
		text-transform: none;
	}

	.service-description .form-area form input {
		width: 300px;
		height: 50px;
		background: #f2f3f7;
    box-shadow: 10px 10px 20px #c8c9cba0, -10px -10px 20px #fff;
    border-radius: 50px;
	}

	.service-description .form-area form .btn {
		padding: 12px 30px;
		margin-left: 20px;
		background-color: #4385f5; box-shadow:  10px 10px 20px #4384f550, -10px -10px 20px #4384f530;
	}

	/*** about-area ***/
	.about-area .about-description {
		margin: 50px 0 0 0;
	}

	/*** pricing-area ***/
	.pricing-area .pricing-table {
		display: inline-block;
		margin-bottom: 30px;
	}

	/*** app-area ***/
	.app-area .app-thumb {
		display: inline-block;
	}

	.app-area .app-description {
		margin: 60px 0;
		text-align: center;
	}

	.app-area .app-thumb .play-store {
		margin: 0 0 20px 0;
	}

	/*** testimonial-area ***/
	.testimonial-area .testimonial-user img {
		width: auto;
		display: inline;
	}

	.testimonial-area .testimonial-content img {
		width: 50px;
		display: inline;
	}

	 

	/*** contact-area ***/
	.contact-area .contact-description {
		padding: 24px 0;
	}

	.contact-area .contact-description h2 {
		margin-bottom: 20px;
		font-size: 20px;
		text-transform: none;
	}

	.contact-area .contact-description .btn {
		font-size: 16px;
		padding: 10px 35px;
	}

	/*** footer-area ***/
	.footer-area .footer-widgets .single-widgets {
		margin-bottom: 50px;
	}

}

/*****************  *****************/

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}

	/*** navbar-area ***/
	.navbar-nav>li>a {
		border: none;
		display: block;
		position: relative;
		transition: all 0.4s ease;
		text-transform: none;
		font-size: 16px;
		border-bottom: 1px solid #e5e5e5;
		font-weight: 400;
		border-radius: 0;
		line-height: 35px;
		padding: 5px 0;
	}

	.navbar-nav>li>a:hover {
		color: #4385f5;

	}

	/*** slider-area ***/
	.main-slider-area .slider-content {
		position: absolute;
		left: 10%;
	}
	.main-slider-area .slider-content span{
		font-size: 12px;
		color: #4385f5;
	}
	.main-slider-area .slider-content h1 { 
		font-weight: 700;
		padding: 30px 0;
		font-size: 27.5px;
		text-transform: none;
	}

	.main-slider-area .slider-content .btn { 
		padding: 15px 35px;
		font-size: 16px;
	}

	/*** service-area ***/
	.service-area .service-description {
		padding: 66px 0;
	}

	.service-area .service-description h2 {
		font-size: 30px;
		margin: 30px 0;
		text-transform: none;
	}

	.service-description .form-area form input {
		width: 350px;
		height: 50px;
		background: #f2f3f7;
    box-shadow: 10px 10px 20px #c8c9cba0, -10px -10px 20px #fff;
    border-radius: 50px;
	}

	.service-description .form-area form .btn {
		padding: 12px 30px;
		margin-left: 20px;
		background-color: #4385f5; box-shadow:  10px 10px 20px #4384f550, -10px -10px 20px #4384f530;
	}
 
	/*** about-area ***/
	.about-area .about-description {
		margin: 50px 0 0 0;
	}

	/*** pricing-area ***/
	.pricing-area .pricing-table {
		display: inline-block;
		margin-bottom: 30px;
	}

	.pricing-area .pricing-table ul li {
		text-align: left;
	}

	.pricing-area .pricing-table ul li ::after {
		display: block;
	}

	/*** app-area ***/
	.app-area .app-description {
		margin: 60px 0;
		text-align: center;
	}

	.app-area .app-thumb {
		display: flex;
	}

	.app-area .app-thumb .play-store {
		margin-right: 20px;
	}

	/*** testimonial-area ***/
	.testimonial-area .testimonial-user img {
		width: auto;
		display: inline;
	}

	.testimonial-area .testimonial-content img {
		width: 50px;
		display: inline;
	}

	 
	/*** contact-area ***/
	.contact-area .contact-description {
		padding: 15px 0;
	}

	.contact-area .contact-description h2 {
		margin-bottom: 20px;
		font-size: 40px;
		text-transform: none;
	}

	.contact-area .contact-description .btn {
		font-size: 16px;
		padding: 20px 46px;

	}

	/*** footer-area ***/
	.footer-area .footer-widgets .single-widgets {
		margin-bottom: 50px;
	}

}

/*****************  *****************/

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}

	/*** navbar-area ***/
	.navbar {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		position: relative;
		background-color: #5393ff;
	}

	.navbar-toggler {
		display: none;
	}

	.logo-and-icon {
		flex: 0 0 100px;
		border-bottom: none;
		padding: 0;
	}

	.navbar-collapse {
		display: block !important;
		overflow-y: hidden;
		flex: 1 0 auto;
		background-color: transparent;
		padding: 0;
		width: auto;
	}

	.navbar-nav {
		display: flex;
		align-items: right;
		justify-content: right;
		flex-direction: row;
	}

	.navbar-nav>li>a {
		border-bottom: none;
		margin: 0 0.4rem;
		padding: 25px 20px;
		font-size: 16px;
		text-transform: none;
		font-weight: 500;
		letter-spacing: 0.2px;
	}

	.navbar-nav>li>a:hover {
		color: #ffffff90;
		border: none;
	}

	.sub-menu {
		position: absolute;
		width: 265px;
		top: 100%;
		background: #1a1a1a;
	}

	.navbar-nav>li:hover .sub-menu {
		display: grid !important;
		padding: 25px;
	}

	.navbar-nav>li {
		border-bottom: 2px solid transparent;
		transition: 0.4s ease;
	}

	.sub-menu-item {
		padding-left: 0;
	}

	.btn-area .login-btn {
		display: block;
	}

	/*** slider-area ***/
	.main-slider-area {
		position: relative;
		top: 0;
	}

	.main-slider-area .slider-content {
		position: absolute;
		left: 5%;
	}
	.main-slider-area .slider-content span{
		font-size: 17.5px;
		color: #4385f5;
	}
	.main-slider-area .slider-content h1 {
		color: #343434;
		font-weight: 700;
		padding: 20px 0;
		font-size: 40px;
		text-transform: none;
	}

	.main-slider-area .slider-content .btn {
		border-radius: 50px;
		background: #f2f3f7;
		box-shadow:  10px 10px 20px #c8c9cb, -10px -10px 20px #fff;
		padding: 20px 46px;
		margin-top: 0px;
		color: #343434;
	}

	.main-slider-area .slider-content .btn:hover {
		background-color: #4385f5;
		box-shadow:  10px 10px 20px #4384f550, -10px -10px 20px #4384f530;
		color: #fff;
	}

	/*** service-area ***/
	.service-area .service-description {
		padding: 100px 0;
	}

	.service-area .service-description h2 {
		font-size: 55px;
		margin: 30px 0 60px 0;
		text-transform: none;
	}

	.service-description .form-area form input {
		width: 520px;
		height: 67px;
		background: #f2f3f7;
    box-shadow: 10px 10px 20px #c8c9cba0, -10px -10px 20px #fff;
    border-radius: 50px;
	}

	.service-description .form-area form .btn {
		padding: 20px 46px;
		margin-left: 20px;
		background-color: #4385f5; box-shadow:  10px 10px 20px #4384f550, -10px -10px 20px #4384f530;
	}

	/*** conunter-area ***/
	.conunter-area .counter-text {
		padding: 0;
	}

	/*** about-area ***/
	.about-area {
		text-align: left;
	}

	.about-area .about-description {
		margin: 50px 0 0 30px;
	}

	/***  pricing-area ***/
	.pricing-area {
		margin-bottom: 150px;
	}

	.pricing-area .pricing-table {
		display: block;
		margin: 0;
	}

	/*** app-area ***/
	.app-area {
		text-align: center;
	}

	/*** testimonial-area ***/
	.testimonial-area .testimonial-section {
		display: flex;
		text-align: left;
	}

	.testimonial-area .testimonial-user img {
		width: auto;
	}

	.testimonial-area .testimonial-content {
		padding: 100px;
	}


	.testimonial-area .testimonial-content img {
		width: 50px;
	}

	/*** contact-area ***/
	.contact-area .contact-description {
		padding: 65px 0;
	}

	.contact-area .contact-description h2 {
		margin-bottom: 20px;
		font-size: 55px;
		text-transform: none;
	}

	/*** footer-area ***/
	.footer-area .footer-widgets .single-widgets {
		margin-bottom: 0;
	}

	.footer-area .footer-bottom img{
		width: 15%;
	}

}

/*****************  *****************/

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}

	/*** slider-area ***/
	.main-slider-area .slider-content {
		position: absolute;
		left: 10%;
		

	}
	.main-slider-area .slider-content span{
		font-size: 20px;
		color: #4385f5;
	}
	.main-slider-area .slider-content h1 {
		color: #343434;
		font-weight: 700;
		padding: 50px 0;
		font-size: 45px;
		text-transform: none;
	}
}