body {
  font-family: sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.header {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

.card {
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
  border-left: 0px solid #009fe3;
  border-radius: 20px;
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.05);
}

.card h2 {
  margin: 0;
}

.card h2 a:link {
  color: #009fe3;
  text-decoration: underline;
  text-decoration-color: #009fe3;
}

.card h2 a:visited {
  color: #009fe3;
  text-decoration-color: #009fe3;
}

.card h2 a:hover {
  color: #007acc;
  text-decoration-color: #007acc;
}

.card h2 a:active {
  color: #005fa3;
  text-decoration-color: #005fa3;
}

.card .date {
  font-size: 12px;
  color: gray;
}

.tag {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: #009fe3;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 4px;
  margin-bottom: 6px;
}

.content a:link {
  color: #009fe3;
  text-decoration: underline;
  text-decoration-color: #009fe3;
}

.content a:visited {
  color: #009fe3;
  text-decoration-color: #009fe3;
}

.content a:hover {
  color: #007acc;
  text-decoration-color: #007acc;
}

.content a:active {
  color: #005fa3;
  text-decoration-color: #005fa3;
}
